<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <!-- Define some properties -->
    <property name="LOGS" value="./logs"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss,Israel} [%thread] %-5level %cyan(%logger{36}.%M) - %msg%n"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %blue(%d{dd-MM-yyyy HH:mm:ss}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}.%M) -
                %msg%n%ex{5}
            </pattern>
        </encoder>

    </appender>


    <!-- Rolling File Appender -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}%ex{10}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Logger settings -->
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </logger>

    <logger name="org.springframework.security" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </logger>

    <logger name="org.springframework.data" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </logger>

    <logger name="com.yael" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </logger>


    <!-- Set root level to INFO and specify appenders -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>
